API_PORT=3000
DATABASE_URL=postgresql://vibe:vibe@localhost:5432/lovablejs
TEMPORAL_ADDRESS=127.0.0.1:7233
TEMPORAL_TASK_QUEUE=coding-agent

OPENAI_API_KEY=


OPENAI_BUILDER_MODEL=gpt-5-mini
OPENAI_MODEL=gpt-40-mini 
OPENAI_PLANNING_MODEL=gpt-5-mini
OPENAI_REASONING_MODEL=gpt-5-mini


OPENAI_REASONING_EFFORT=medium # low, medium, high